* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#contenitore_padre {
    dispaly: flex justify-content: center;
    margin-bottom: 50px;
}

.font_size_150 {
    font-size: 150%;
    text-align: center;
}

.strike_text {
    text-decoration: line-through;
}

.border {
    border: 2px solid lightgray
}


.flex_start {
    justify-content: flex-start;
}

.text_red {

    color: red;
}