* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#contenitore_padre {

    text-align: center;
}

.font_size_150 {
    font-size: 150%;
}

.strike_text {
    text-decoration: line-through;
}